<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      throwConfigExceptions="true"
      internalLogFile="logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
	
  <variable name="baseLogDirectory" value="logs/${shortdate}"/>
	
  <!-- the targets to write to -->
  <targets>
	  <target name="file" xsi:type="File" keepFileOpen="true" openFileCacheTimeout="30" concurrentWrites="true"
			  optimizeBufferReuse="true" cleanupFileName="false" autoFlush="false" openFileFlushTimeout="40"
			  fileName="${baseLogDirectory}/${uppercase:${level}} - ${logger}.txt"
			  layout="${longdate}|${replace-newlines:${message}}|${replace-newlines:${exception:format=tostring}}"/>

	  <target name="consoleAsync" xsi:type="AsyncWrapper" overflowAction="Discard" queueLimit="100000" >
		  <target name="console" xsi:type="Console" OptimizeBufferReuse="True" encoding="utf-8"
				  layout="${longdate}|${level:uppercase=true}|${replace-newlines:${message}}|${replace-newlines:${exception:format=tostring}}">
		  </target>
	  </target>
	  
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
	  <!--Output hosting lifetime messages to console target for faster startup detection -->
	  <logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="consoleAsync, file" final="true" />
	  
	  <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
	  <logger name="Microsoft.*" maxlevel="Info" final="true" />
	  <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	  
	  <logger name="*" minlevel="Information" writeTo="file" />
	  
	  <logger name="*" minlevel="Trace" writeTo="consoleAsync" />
  </rules>
</nlog>